<h1>Mundial Rusia 2018</h1>
<hr>

<div  class="card-columns">

  <div class="card">
    <img class="card-img-top img-fluid" src="/assets/img/messi.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Argentina</h4>
      <p class="card-text">Clasificado 3ero en el grupo Sudamericano. Capitán Leonel Messi</p>
      <p class="card-text"><small class="text-muted">Ultima Actualización hace 3 minutos</small></p>

      <button type="button" class="btn btn-outline-primary btn-block">
        Mas información...
      </button>


    </div>
  </div>

  <div class="card">
    <img class="card-img-top img-fluid" src="/assets/img/neymar.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Brasil</h4>
      <p class="card-text">Clasificado 1ero en el grupo Sudamericano. Capitán Neymar</p>
      <p class="card-text"><small class="text-muted">Ultima Actualización hace 3 minutos</small></p>

      <button type="button" class="btn btn-outline-primary btn-block">
        Mas información...
      </button>

    </div>
  </div>

  <div class="card">
    <img class="card-img-top img-fluid" src="/assets/img/suarez.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Uruguay</h4>
      <p class="card-text">Clasificado 2do en el grupo Sudamericano. Capitán Luis Suarez</p>
      <p class="card-text"><small class="text-muted">{{paises}}</small></p>

      <button type="button" class="btn btn-outline-primary btn-block">
        Mas información...
      </button>

    </div>
  </div>


</div>
